@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
/*-----------------copied from CI tutorial--------------*/
*{
    margin:0;
    padding:0;
    border:0;
}

/*---------------------------------------------------------------------------------Colours */

span {
    color: #676767;
    margin-left: 5px;
}

.list-inline-item i {
    color: hsl(0, 0%, 40%);
}

.prices h4, .prices h6, .prices p, .company{
    color: #fafafa;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/jumbotron_image.jpg);
    background-size: cover;
    height: 100%;
}

.card-body.locations {
    padding: 10px;
}

.card.company {
    width: 80%;
    line-height: normal;
}

.body-card.comp {
    padding: 10px;
}

#company {
    min-height: 175px;
    width: 100%;
    background-color:#115268;
    padding-bottom: 20px;
}

#reviews {
    background-color: #021f4b;
    color: #fafafa;
    min-height: 200px;
    width:100%;
}

#quotes {
    background-color: #021f4b;
    color: #fafafa;
    min-height: 275px;
    width: 100%;
}

.card.locations {
    background-color: grey;
    min-height: 206px;
}

.card{
    background-color: #021f4b;
    border: none;
}

.card.faq{
    color: white;
    width: 90%;
    background-color: #115268;
    margin: 0 auto;
}

p.faq {
    margin-bottom: 0px;
}
 ol li {
     list-style-type: none;
}

.card.mars, .card.moon {
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
}

span a.btn {
    background-color:#115268;
    padding-top: 6px;
}

#locations {
    min-height: 206px;
}

#locations.card-body {
    padding: 0px;
}

#locations h4, #locations p {
    color:#fafafa;
}

#mars, #moon {
    background-color: #4c3b71;
}

#images, #form {
    background-color: #115268;
}

/*--------------------------------------------------------------------------------Heading */

header {
    margin:0;
    background-color: #fafafa;
}

/*--The logo is bigger than the navbar so a bigger font-size, same (heavier) font-weight, also grey and sans-serif when space mono is not available------*/
h1 {
    font-family: "space mono", "sans-serif";
    font-weight: 700;
    font-size: 200%;
    padding-top: 15px;
    background-size: cover;
    color: #676767
}

#logo {
    margin-left: 20px;
    color: grey;
}

/*--The navbar gets a heavier font, different letter spacing, uppercase text, taking 100% width and correct postion inside the header--*/
#menu {
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    margin-top: 15px;
    margin-left: 200px;
    padding-top: 10px;
}

.fixed-top {
    background-color: white; 
}


/*------------------------------------------------------------------------------Body */

body {
    font-family: "space mono", sans-serif;
}

body {
    padding-top: 75px;
}

.round-button a {
    color: #fafafa;
    font-weight: 700;
    padding-top: 25px;
    text-size-adjust: 100%;
}

.quote1, .quote2 {
    line-height: 20px;
}

.blockquote {
    line-height: normal;
    font-size: 95%;
}

/* -----Creating a round button by using same height and width plus a border radius of 
50% with text aligned in the middle--------*/
/*.round-button {
    height: 100px;
    width: 100px;
    background-color: #115268;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}*/

.row.videos {
    padding: 20px;
}

.row.images {
    padding-bottom: 20px;
}

.moon, .solar, .mars {
    text-align: center;
    vertical-align: middle;
    color: white;
}

.uppercase {
    line-height: 10px;
    padding-top: 15px;
    color: white;
}

.uppercase.text-center{
    padding-top: 0;
}
/*--The image css is from a CI tutorial and it is positioned at the center and contained within the background area with no repeating of the same image--*/
.moon-image {
    background: url(../images/The_Moon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 5px;
}

.prices {
    text-align: center;
    color: #676767;
}

/*--The image css is from a CI tutorial and it is positioned at the center and contained within the background area with no repeating of the same image--*/
.mars-image {
    background: url(../images/Mars.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.image-fluid {
    max-width: 100%;
    height: auto;
}

.info {
    color: #fafafa;
    margin: 0 auto;
}

.table-responsive{
    color: #fafafa;
}

.table.moon, .table.mars {
    color: #fafafa;
    text-align: center;
}

#quotes, #reviews, #mars, #info-table, #images, #company, #moon, #faq {
    padding-top: 15px;
}

#mars {
    min-height: 450px;
}

#moon {
    min-height: 450px;
}

#info-table {
    height: 250px;
}

#images {
    min-height: 225px;
}

#faq {
    min-height: 251px;
    background-color:#021f4b;
    padding-bottom: 20px;
}

#form {
    min-height: 400px;
}

#form.container-fluid {
    padding-top: 10px;
}
.form-row.text-center {
    padding-top: 10px;
    padding-bottom: 20px;
}

#quotes h5, #reviews h5, #mars h5, #info-table h5, #images h5, #company h5, #moon h5, #faq h5 {
    color: #fafafa;
    text-transform: uppercase;
    text-align: center;
}

hr {
    border: 1px solid #021f4b;
}
/*--Quote 1 is positioned in the center with full width--*/




/*--Quote 2 is positioned in the center with full width and a bit higher than quote 1 for visual effect since it is smaller--*/


#home-button {
    background-color: #021f4b;
    display: inline-block;
}

#book-button .round-button {
    margin-top: 35px;
    margin-left: 20px;
}

#images .images {
    margin: 0 auto;
}

#book-button .round-button a, #home-button .round-button a {
    text-transform: uppercase;
}

/*---------------------------------Departures/locations */
.one, .two, .three {
    text-align: center;
    display: inline-block;
    width: 32%;
}

.one p, .two p, .three p {
    line-height: 10px;
}

#locations h5 {
    text-align: center;
    color: #fafafa;
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 0px;
    background-color: white;
}
/*---------------------------------------Footer */
footer {
    min-height: 100px;
}

.footer{ 
    background-color: #fafafa;
}

.row.footer-wrapper.card-body {
    padding: 10px;
}

.footer p {
    margin: 0;
    line-height: 20px;
}

.block-inline {
    display: inline-block;
    text-align: left;
    padding-top: 20px;
    margin-left: 20px;
}

.social-links {
    text-align: right;
    margin-top: -45px;
}

.social-links li {
    display: inline-block;
}

.social-links i {
    font-size: 160%;
    color: #676767;
    margin-right: 70px;
}

/*---------------------------------------Form */

.form-heading {
    font-family: "space mono", "sans-serif";
    font-weight: 700;
    padding-top: 30px;
}

.center-form {
    padding-top: 5px;
    margin: 0 auto;
    max-width: 50%;
}
/*-----copied the button from CI tutorial----*/
button[type="submit"] {
    margin-top: 10px;
    background-color: #021f4b;
}
/*------------------------------------------------Media Queries----*/
/*-----
// Medium devices (Ipad, 768px)
-----*/
@media screen and (width: 768px) {
    #company {
        padding-bottom: 20px;
    }    
    
    .card.company {
            width: 95%;
            text-size-adjust: 80%;
    }

    .card.quotes {
            padding: 0px;
    }

    .card-body.quote1 {
        padding-left: 40px;
        padding-right: 0px;
    }

    .card-body.quote2 {
        padding-right: 40px;
        padding-left: 0px;
    }

    .solar {
        display: none;
    }

    #images, #faq {
        padding-bottom: 20px;
    }

    #form {
        padding-bottom:20px;
    }

    .center-form {
            max-width: 70%;
    }

    .col.form-button {
        padding-top: 15px;
    }

    h3 {
            font-size: 20px;
            margin-top: 10px;
    }

}
/*-----
// Small devices, (Iphone5, 320px)
---------*/
@media screen and (width: 320px) { 
    .card.locations.jumbotron {
        padding-left: 10px;
        padding-right: 10px;
    }
    .card-body.rev1, .card-body.quote1 {
        padding: 0px;
    }

    p.loc {
        display: none;
    }
 
    .one, .two, .three {
        padding-left: 0px;
        padding-right: 0px;
    }

    h4.depart {
        font-size: 16px;
    }
    p.rev1 {
        margin-bottom: 0px;
    }
    
    .review2, .quote2, .homevideo, .solar, .moon-image, .mars-image {
        display: none;
    }
    
    #company {
        padding-bottom: 20px;
    }
    .card.company {
        width: 90%;
    }

    h6.company {
        font-size: 12.8px;
    }

    .card.homevideo {
        padding: 0px;
    }

    .card-body.video {
        padding-left: 10px;
        padding-right: 0px;
    }

    .container-fluid.qts {
        padding-left: 75px;
        padding-right: 75px;
    }

    .mars, .moon {
        padding: 10px 5px;
    }

    .row.mars {
        padding-top: 0px;
        padding-bottom: 5px;
    }

    .row.videos {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .form-row.text-center {
        margin-top: 10px;
    }

    hr {
        margin-top: 0px;
    }

    .block-inline {
        padding-top: 0px;
    }

    .social-links {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    i.fa.fa-facebook, i.fa.fa-twitter, i.fa.fa-youtube, i.fa.fa-instagram {
        padding: 20px;
        margin-right: 0px;
    }

    #faq {
        padding-bottom: 20px;
        padding-left: 5px;
    }

    .form-heading {
        padding-bottom: 10px;
    }

    h3.form {
        font-size: 24px;
    }

    h5.form {
        font-size: 16px;
    }
    
    .center-form {
        max-width: 95%;
        margin-bottom: 20px;
    }
}

