@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
/*-----------------copied from CI tutorial--------------*/
*{
    margin:0;
    padding:0;
    border:0;
}

/*---------------------------------------------------------------------------------Colours */

span {
    color: #676767;
    margin-left: 5px;
}

.list-inline-item i {
    color: hsl(0, 0%, 40%);
}

.prices h6 {
    color: #021f4b;
}

.prices h4, .prices p {
    color: #fafafa;
}

#quotes, #reviews {
    background-color: #021f4b;
    color: #fafafa;
    height: 250px;
}

#locations {
    background-color: #676767;
}

#locations h4, #locations p {
    color:#fafafa;
}

#videos, #info-table {
    background-color: #4c3b71;
}

#images, #form {
    background-color: #115268;
}

/*--------------------------------------------------------------------------------Heading */

header {
    margin:0;
    background-color: #fafafa;
    height: 75px;
}
/*--The logo is bigger than the navbar so a bigger font-size, same (heavier) font-weight, also grey and sans-serif when space mono is not available------*/
h1 {
    font-family: "space mono", sans-serif;
    font-weight: 700;
    font-size: 200%;
    padding-top: 15px;
    background-size: cover;
    color: #676767
}

.header-wrapper {
    padding-left: 20px;
    width: 100%;
}
/*-The navbar gets a heavier font, uppercase, some letter spacing and 100% width to breath---------------*/
#menu {
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    margin-top: 15px;
    margin-left: 200px;
    padding-top: 10px;
}

/*------------------------------------------------------------------------------Body */

body {
    font-family: "space mono", sans-serif;
}

.round-button a {
    color: #fafafa;
    font-weight: 700;
    padding-top: 25px;
    text-size-adjust: 300%;
}

.quote1, .quote2 {
    line-height: 20px;
}
/* -----Creating a round button by using same height and width plus a border radius of 
50% with text aligned in the middle--------*/
.round-button {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background-color: #115268;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}

.moon, .mars {
    display: inline-block;
}

.moon {
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
}

.mars {
    text-align: center;
    vertical-align: middle;
    margin-left: -50px;
}

.uppercase {
    line-height: 10px;
    padding-top: 15px;
    color: #021f4b;
}

.moon-image {
    background: url(../images/The_Moon.jpg);
    background-position: center;
    background-repeat: none;
    background-size: contain;
}

.prices {
    text-align: center;
    color: #676767;
}

.mars-image {
    background: url(../images/Mars.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: none;
}

.image-fluid {
    max-width: 100%;
    height: auto;
}

.table {
    color: #fafafa;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
/*--
.table-responsive {

}
----*/
#quotes, #reviews, #videos, #info-table, #images {
    padding-top: 20px;
}

#videos, #info-table {
    height: 250px;
}

#images {
    height: 250px;
}

#form {
    height: 375px;
}

#quotes h5, #reviews h5, #videos h5, #info-table h5, #images h5 {
    text-align: center;
    color: #676767;
    text-transform: uppercase;
}

#quotes .quote1 {
    text-align: right;
    vertical-align: middle; 
    margin-left: -100px;
    padding-top: 4%; 
}

#quotes .homevideo {
    text-align: center;
    vertical-align: middle;
    margin-left: 100px;
}

#quotes .quote2 {
    text-align: right;
    vertical-align: middle; 
    margin-left: -100px;
    padding-top: 4%; 
}

#reviews .reviews .review1 {
    text-align: right;
    vertical-align: middle;
    margin-left: -100px;
    padding-top: 1%;
}

#reviews .reviews #home-button {
    text-align: center;
    vertical-align: middle;
    margin-left: 260px;
    padding-top: 1%;
 
}

#reviews .reviews .review2 {
    text-align: right;
    vertical-align: middle;
    padding-right: 50px;
    padding-top: 1%;
}

#book-button .round-button {
    margin-top: 35px;
    margin-left: 20px;
}

#images .images {
    margin: 0 auto;
}

#book-button .round-button a, #home-button .round-button a {
    text-transform: uppercase;
}

/*---------------------------------Departures/locations */

#locations {
    height: 125px;
}

.one, .two, .three {
    text-align: center;
    display: inline-block;
    width: 32%;
}

.one p, .two p, .three p {
    line-height: 10px;
}

#locations h5 {
    text-align: center;
    color: #fafafa;
    text-transform: uppercase;
    padding-top: 10px;
}

/*---------------------------------------Footer */

footer{ 
    height: 100px;
    background-color: #fafafa;
}

footer p {
    margin: 0;
    line-height: 20px;
}

.block-inline {
    display: inline-block;
    text-align: left;
    padding-top: 20px;
    margin-left: 20px;
}

.social-links {
    text-align: right;
    margin-top: -45px;
}

.social-links li {
    display: inline-block;
}

.social-links i {
    font-size: 160%;
    color: #676767;
    margin-right: 70px;
}

/*---------------------------------------Form */

.form-heading {
    font-family: space mono, sans-serif;
    font-weight: 700;
}

.center-form {
    padding-top: 5px;
    margin: 0 auto;
    max-width: 50%;
}
/*-----copied the button from CI tutorial----*/
button[type="submit"] {
    margin-top: 10px;
    background-color: #021f4b;
}


