@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
/*-----------------copied from CI tutorial--------------*/
*{
    margin:0;
    padding:0;
    border:0;
}

/*---------------------------------------------------------------------------------Colours */

span {
    color: #676767;
    margin-left: 5px;
}

.list-inline-item i {
    color: hsl(0, 0%, 40%);
}

.prices h4, .prices h6, .prices p {
    color: #fafafa;
}

#company {
    height: 256px;
    background-color:#115268;
}

#quotes, #reviews {
    background-color: #021f4b;
    color: #fafafa;
    height: 300px;
}

.card.locations {
    background-color: grey;
}
.card {
    background-color:#115268;
}

span a.btn {
    background-color:#115268;
    padding-top: 6px;
    vertical-align: middle;
}


#locations.card-body {
    padding: 0px;
}

#locations h4, #locations p {
    color:#fafafa;
}

#videos, #info-table {
    background-color: #4c3b71;
}

#images, #form {
    background-color: #115268;
}

/*--------------------------------------------------------------------------------Heading */

header {
    margin:0;
    background-color: #fafafa;
    height: 75px;
}

/*--The logo is bigger than the navbar so a bigger font-size, same (heavier) font-weight, also grey and sans-serif when space mono is not available------*/
h1 {
    font-family: "space mono", "sans-serif";
    font-weight: 700;
    font-size: 200%;
    padding-top: 15px;
    background-size: cover;
    color: #676767
}

#logo {
    margin-left: 20px;
}

/*--The navbar gets a heavier font, different letter spacing, uppercase text, taking 100% width and correct postion inside the header--*/
#menu {
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    margin-top: 15px;
    margin-left: 200px;
    padding-top: 10px;
}

/*------------------------------------------------------------------------------Body */

body {
    font-family: "space mono", sans-serif;
}

.round-button a {
    color: #fafafa;
    font-weight: 700;
    padding-top: 25px;
    text-size-adjust: 100%;
}

.quote1, .quote2 {
    line-height: 20px;
}

/* -----Creating a round button by using same height and width plus a border radius of 
50% with text aligned in the middle--------*/
/*.round-button {
    height: 100px;
    width: 100px;
    background-color: #115268;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}

/*.moon, .mars {
    display: inline-block;
}*/

.moon {
    text-align: center;
    vertical-align: middle;
}

.mars {
    text-align: center;
    vertical-align: middle;
}

.uppercase {
    line-height: 10px;
    padding-top: 15px;
    color: white;
}

.uppercase.text-center{
    padding-top: 0;
}
/*--The image css is from a CI tutorial and it is positioned at the center and contained within the background area with no repeating of the same image--*/
.moon-image {
    background: url(../images/The_Moon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 5px;
}

.prices {
    text-align: center;
    color: #676767;
}

/*--The image css is from a CI tutorial and it is positioned at the center and contained within the background area with no repeating of the same image--*/
.mars-image {
    background: url(../images/Mars.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.image-fluid {
    max-width: 100%;
    height: auto;
}

.info {
    color: #fafafa;
    margin: 0 auto;
}

.table-responsive{
    color: #fafafa;
}

.table.moon, .table.mars {
    color: #fafafa;
    text-align: center;
}

#quotes, #reviews, #videos, #info-table, #images, #company, #more-info, #faq {
    padding-top: 10px;
}

#videos {
    height: 250px;
}

#more-info {
    height: 376px;
    background-color:#115268;
}

#info-table {
    height: 250px;
}

#images {
    height: 225px;
}

#faq {
    height: 251px;
    background-color:#021f4b;
}

#form {
    height: 400px;
}

#quotes h5, #reviews h5, #videos h5, #info-table h5, #images h5, #company h5, #more-info h5, #faq h5 {
    color: #fafafa;
    text-transform: uppercase;
    text-align: center;
}

/*--Quote 1 is positioned in the center with full width--*/
#quotes .quote1 {
    text-align: center;
    vertical-align: middle; 
    margin-left: 0;
    padding-top: 4%; 
    width: 100%;
}

#quotes .homevideo {
    text-align: center;
    vertical-align: middle;
    margin-left: 0;
    padding-top: 5px;
}

/*--Quote 2 is positioned in the center with full width and a bit higher than quote 1 for visual effect since it is smaller--*/
#quotes .quote2 {
    text-align: center;
    vertical-align: middle; 
    margin-left: 0;
    padding-top: 3%; 
    width: 100%;
}

#home-button {
    background-color: #021f4b;
    display: inline-block;
}

#book-button .round-button {
    margin-top: 35px;
    margin-left: 20px;
}

#images .images {
    margin: 0 auto;
}

#book-button .round-button a, #home-button .round-button a {
    text-transform: uppercase;
}

/*---------------------------------Departures/locations */
.one, .two, .three {
    text-align: center;
    display: inline-block;
    width: 32%;
}

.one p, .two p, .three p {
    line-height: 10px;
}

#locations h5 {
    text-align: center;
    color: #fafafa;
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 0px;
    background-color: white;
}
/*---------------------------------------Footer */
footer {
    height: 100px;
}

.footer{ 
    background-color: #fafafa;
}

.footer p {
    margin: 0;
    line-height: 20px;
}

.block-inline {
    display: inline-block;
    text-align: left;
    padding-top: 20px;
    margin-left: 20px;
}

.social-links {
    text-align: right;
    margin-top: -45px;
}

.social-links li {
    display: inline-block;
}

.social-links i {
    font-size: 160%;
    color: #676767;
    margin-right: 70px;
}

/*---------------------------------------Form */

.form-heading {
    font-family: "space mono", "sans-serif";
    font-weight: 700;
    padding-top: 30px;
}

.center-form {
    padding-top: 5px;
    margin: 0 auto;
    max-width: 50%;
}
/*-----copied the button from CI tutorial----*/
button[type="submit"] {
    margin-top: 10px;
    background-color: #021f4b;
}
/*------------------------------------------------Media Queries----*/
/*----
// Large devices (desktops, 1200px and down)
------------*/
@media screen and (max-width: 1200px) {

    
/*----
// Medium devices (992px and down)
-------*/
@media screen and (max-width: 992px) {

}
/*-----
// Medium devices (Ipad, 768px)
-----*/
@media screen and (width: 768px) {


}
/*-----
// Small devices, (Iphone5, 320px)
---------*/
@media screen and (width: 320px) {    

    }
}
